<div class="row">
  <div class = "comment span8 well">
    
    <p> <%= comment.body %> <%=  link_to "for " + comment.post.title, post_path(comment.post) if @action %></p>
    <p>
      <span class="quiet">Posted by </span>
      <%= comment.creator.first_name + " " + comment.creator.last_name %>
      <small>on <%= friendly_date(comment.created_at) %></small>
    </p>
  </div>
</div>